/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #b4c1ff;
  color: #ecf0f1;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Main container styling */
#drum-machine {
  background-color: #b4c1ff;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Display styling */
#display {
  background-color: #7416a0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Drum pads container styling */
#pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* Individual drum pad styling */
.drum-pad {
  /* background-color: #bc1aa1; */
  border: 2px solid #7416a0;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.drum-pad:hover {
  background-color: #7416a0;
}

.drum-pad:active {
  background-color: #660e5f;
  transform: scale(0.95);
}

/* Audio element hidden by default */
audio {
  display: none;
}

/* Media queries for responsive design */
@media (max-width: 400px) {
  #drum-machine {
    width: 100%;
    padding: 10px;
  }

  .drum-pad {
    padding: 15px;
    font-size: 1.2rem;
  }
}